.panel {
  -ms-grid-column: 2;
  -ms-grid-column-span: 15;
  grid-column: 2/17;
}

.panel .panel-address-bar {
  position: absolute;
  padding: 0 20px;
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 35px;
  color: #666666;
}

.panel .panel-address-bar span {
  font-weight: bold;
}

.panel .panel-body .panel-content {
  padding: 0 20px;
  padding-top: calc(35px + 1rem);
}